@import "src/scss/variables";
@import "src/scss/mixins";

.product-item-wrapper {
  position: relative;
  border: 1px solid $product-item-border-color;
  padding: 12px 8px;
  @include trans();

  &:hover {
    cursor: pointer;
    box-shadow: 0 12px 44px rgba(0, 0, 0, .05);
  }
}

.item-image {
  @include flex-container(row, center, center);
}

.item-title {
  margin-top: 8px;

  .title {
    font-size: 16px;
    font-weight: 500;

  }
}

.item-status {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;


}

.item-date {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: $text-secondary-color;
}
